<div fxLayout="column">
  <div fxLayoutAlign="center center">
    <mat-form-field fxFlex="70" fxFlex.gt-xs='50'>
      <input matInput type="text" placeholder="Filter" (keyup)="doFilter($event.target.value)">
    </mat-form-field>
  </div>

  <table class="data-table" mat-table [dataSource]="dataSource" fxFlex="60" matSort matSortActive='date' matSortDirection='desc'>

    <ng-container matColumnDef="date">
      <th class="spacing center" mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td class="spacing" mat-cell *matCellDef="let element"> {{ getDateOfTimestamp(element.date) | date }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th class="spacing-80 center" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td class="spacing-80" mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="calories">
      <th class="max-40 center" mat-header-cell *matHeaderCellDef mat-sort-header> {{ getCaloriesCaption() }} </th>
      <td class="max-40" mat-cell *matCellDef="let element"> {{ element.calories | number }} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th class="max-40 center" mat-header-cell *matHeaderCellDef mat-sort-header> {{ getDurationCaption() }} </th>
      <td class="max-40" mat-cell *matCellDef="let element"> {{ element.duration | number }} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th class="max center" mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
      <td class="max" mat-cell *matCellDef="let element"> {{ element.state }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator class="paginator" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</div>
